include *.rst
include LICENSE
recursive-include deform_treepy *.po
recursive-include deform_treepy *.mo
recursive-include deform_treepy *.pot
recursive-include deform_treepy *.pt
recursive-include deform_treepy *.css
recursive-include deform_treepy *.editorconfig
recursive-include deform_treepy *.eot
recursive-include deform_treepy *.gif
recursive-include deform_treepy *.html
recursive-include deform_treepy *.js
recursive-include deform_treepy *.jshintignore
recursive-include deform_treepy *.jshintrc
recursive-include deform_treepy *.json
recursive-include deform_treepy *.less
recursive-include deform_treepy *.md
recursive-include deform_treepy *.otf
recursive-include deform_treepy *.php
recursive-include deform_treepy *.png
recursive-include deform_treepy *.scss
recursive-include deform_treepy *.sql
recursive-include deform_treepy *.svg
recursive-include deform_treepy *.ttf
recursive-include deform_treepy *.woff
